---
layout: archive
title: "Sigificant Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<style>
table, td, th {
   border: none!important;
}
</style>

<!--  
| <img src="/kun/images/head_gp.png" alt="preview" style="zoom:60%;" class="center"/> |  <span style="font-size:1.5em;"> **A differentiable first-order rule learner for inductive logic programming**.<br /><u>Kun Gao</u>, Katsumi Inoue, Yongzhi Cao, and Hanpin Wang (2024). [Artificial Intelligence](https://www.sciencedirect.com/journal/artificial-intelligence). ([Code](https://github.com/gaokun12/DFORL)) ([Paper](https://www.sciencedirect.com/science/article/pii/S0004370224000444)) </span>  | 
| <td colspan=2>  <span style="font-size:1.5em;">  **Research on Inductive Logic Programming with Neuro-Symbolic Methods**.<br /><u>Kun Gao</u> (2023). Doctoral dissertation, Peking University. ([Abstract](/kun/files/thesis_english_abs.pdf)) </span>  | 
| <img src="/kun/images/paper2.png" alt="preview" style="zoom:60%;" class="center"/> | <span style="font-size:1.5em;"> **Learning First-Order Rules with Differentiable Logic Program Semantics**.<br /><u>Kun Gao</u>, Katsumi Inoue, Yongzhi Cao, and Hanpin Wang (2022). [IJCAI-ECAI 2022](https://ijcai-22.org/). (Long Oral Presentation, <u>top 3.5%</u>) ([Video](https://www.ijcai.org/proceedings/2022/video/417)) ([Code](https://github.com/gaokun12/DFORL)) ([Slide](/kun/slides/IJCAI_2022_DFOL.pdf)) ([Paper](https://www.ijcai.org/proceedings/2022/417)) </span>  | 
| <img src="/kun/images/pape1.png" alt="preview" style="zoom:60%;" class="center"/> | <span style="font-size:1.5em;">  **Learning from interpretation transition using differentiable logic programming semantics**.<br /><u>Kun Gao</u>, Hanpin Wang, Yongzhi Cao, and Katsumi Inoue (2022). [Machine Learning](https://link.springer.com/journal/10994). ([Video](https://www.youtube.com/watch?v=M_65WZBkLAQ&t=89s)) ([Code](https://github.com/gaokun12/D-LFIT)) ([Slide](/kun/slides/D_LFIT_IJCLR.pdf)) ([Paper](https://link.springer.com/article/10.1007/s10994-021-06058-8)) </span>  |  -->

<style type="text/css">
.tg  {border:none;border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-x1hj{border-color:inherit;font-size:22px;text-align:left;vertical-align:top}
.tg .tg-kghl{border-color:inherit;font-size:22px;text-align:left;vertical-align:middle}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<tbody>
  <tr>
    <td class="tg-0pky"><img src="https://gaokun12.github.io/kun/images/head_gp.png" alt="Image" width="985" height="811"></td>
    <td class="tg-kghl"><span style="font-weight:bold">A differentiable first-order rule learner for inductive logic programming</span>. <span style="text-decoration:underline">Kun Gao</span>, Katsumi Inoue, Yongzhi Cao, and Hanpin Wang (2024). <a href="https://www.sciencedirect.com/journal/artificial-intelligence" target="_blank" rel="noopener noreferrer">Artificial Intelligence</a>. (<a href="https://github.com/gaokun12/DFORL" target="_blank" rel="noopener noreferrer">Code</a>) (<a href="https://www.sciencedirect.com/science/article/pii/S0004370224000444" target="_blank" rel="noopener noreferrer">Paper</a>) <br></td>
  </tr>
  <tr>
    <td class="tg-x1hj"></td>
    <td class="tg-kghl"><span style="font-weight:bold">Research on Inductive Logic Programming with Neuro-Symbolic Methods</span>. <span style="text-decoration:underline">Kun Gao</span> (2023). Doctoral dissertation, Peking University. (<a href="https://gaokun12.github.io/kun/files/thesis_english_abs.pdf" target="_blank" rel="noopener noreferrer">Abstract</a>)</td>
  </tr>
  <tr>
    <td class="tg-0pky"><img src="https://gaokun12.github.io/kun/images/paper2.png" alt="Image" width="985" height="710"></td>
    <td class="tg-kghl"><span style="font-weight:bold">Learning First-Order Rules with Differentiable Logic Program Semantics</span>. <span style="text-decoration:underline">Kun Gao,</span> Katsumi Inoue, Yongzhi Cao, and Hanpin Wang (2022). <a href="https://ijcai-22.org/" target="_blank" rel="noopener noreferrer">IJCAI-ECAI 2022</a>. (Long Oral Presentation, <span style="text-decoration:underline">top 3.5%</span>) (<a href="https://www.ijcai.org/proceedings/2022/video/417" target="_blank" rel="noopener noreferrer">Video</a>) (<a href="https://github.com/gaokun12/DFORL" target="_blank" rel="noopener noreferrer">Code</a>) (<a href="https://gaokun12.github.io/kun/slides/IJCAI_2022_DFOL.pdf" target="_blank" rel="noopener noreferrer">Slide</a>) (<a href="https://www.ijcai.org/proceedings/2022/417" target="_blank" rel="noopener noreferrer">Paper</a>) </td>
  </tr>
  <tr>
    <td class="tg-0pky"><br><img src="https://gaokun12.github.io/kun/images/pape1.png" alt="Image" width="985" height="395"><br></td>
    <td class="tg-kghl"><span style="font-weight:bold">Learning from interpretation transition using differentiable logic programming semantics</span>. <span style="text-decoration:underline">Kun Gao</span>, Hanpin Wang, Yongzhi Cao, and Katsumi Inoue (2022). <a href="https://link.springer.com/journal/10994" target="_blank" rel="noopener noreferrer">Machine Learning</a>. (<a href="https://www.youtube.com/watch?v=M_65WZBkLAQ&t=89s" target="_blank" rel="noopener noreferrer">Video</a>) (<a href="https://github.com/gaokun12/D-LFIT" target="_blank" rel="noopener noreferrer">Code</a>) (<a href="https://gaokun12.github.io/kun/slides/D_LFIT_IJCLR.pdf" target="_blank" rel="noopener noreferrer">Slide</a>) (<a href="https://link.springer.com/article/10.1007/s10994-021-06058-8" target="_blank" rel="noopener noreferrer">Paper</a>)</td>
  </tr>
</tbody>
</table>
